
/* landing section styles */

#main-section{
    padding: 0;
    width: var(--ls-full);
    height: 100vh;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main-section img{
    width: var(--ls-full);
    height: var(--ls-full);
    min-width: 1280px;
    position: absolute;
    object-fit: cover; /* *****검색해보기 */
}
#main-section .landing-text-box{
    z-index: 10;
}

#main-section .landing-text-box h1 {
    font-size: var(--fs-title);
    line-height: 1.4;
    font-weight: var(--fw-400);
}

#main-section .landing-text-box p{
    padding: var(--el-medium);
    width: var(--ls-1-3);
}

.meet-section .meet-wrapper{
    width: var(--ls-full);
    height: auto;
    display: flex;
    align-items: center;
}

.meet-section .meet-text-box{
    width: var(--ls-1-2);
}

.meet-section .meet-text-box h4{
    font-size: var(--fs-12);
    font-weight: var(--fw-400);
}

.meet-section .meet-text-box p{
    font-size: var(--fs-18);
    line-height: 1.8;
    width: 80%;
    padding: var(--el-wide) 0 var(--el-medium);
    color: var(--color-gray-3);
    position: relative;
}

.meet-section .meet-text-box p::after{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--color-gray-3);
    left: 0;
    bottom: 0;
    position: absolute;
}

.meet-section .meet-text-box span{
    font-size: var(--fs-18);
    padding: var(--el-medium);
    display: flex;
    align-items: center;
    column-gap: 1rem; /*검색 하기 */
}

.meet-section .meet-text-box span::before{
    content: '';
    width: 30px;
    height: 1px;
    background: var(--color-gray-3);
    display: block;
}

.meet-section .meet-image-box{
    width: var(--ls-1-2);
    display: flex;
    align-items: center;
    column-gap: var(--el-medium);
}

.meet-section .meet-left-image{
    width: var(--ls-1-2);
    display: flex;
    flex-direction: column;
    row-gap: var(--el-medium);
    align-items: flex-end;
}

.meet-section .meet-right-image{
    width: var(--ls-1-2);
}

.meet-section .meet-image-box img{
    width: var(--ls-full);
    border-radius: 0.25rem;
}

.meet-section .meet-image-box img:nth-child(2){
    width: 80%;
}

.feature-section.section{
    padding: var(--el-secrion-small) 0;
}

.feature-section .features{
    width: var(--ls-full);
    display: flex;
    justify-content: space-around;
}

.feature-section .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--el-wide);
}

.feature-section .feature h4{
    font-size: var(--fs-name);
    font-weight: var(--fw-400);
    padding: var(--el-medium);
}

.feature-section .feature p{
    font-size: var(--fs-small-text);
    text-align: center;
}

/* Slider Section Styles */
.slider-section .container {
  position: relative;
}

.slider-section .swiper-slide{
  display: flex;
  width: var(--ls-full);
}

.slider-section .swiper-slide > div {
    width: var(--ls-1-2);
    padding: 0 var(--el-medium);
    height: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
}

.slider-section .swiper-slide > div > img {
  width: var(--ls-full);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.slider-section .slider-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: var(--el-medium);
}

.slider-section .swiper-slide.swiper-slide-active .slider-text{
    animation: show-up 0.3s 1;
    transform: translateY(40px);
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes show-up{
    from{
        transform: translateY(40px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.slider-section .slider-text h4{
    font-size: 1.8rem;
    font-weight: var(--fw-400);
}

.slider-section .slider-text p{
    font-size: var(--fs-small-text);
    width: 90%;
}

.slider-section .slider-nav{
    background: #fff;
    color: var(--color-black);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 2px var(--color-gray-3);
}

.swiper-button-next, .swiper-button-prev {
    svg {
        height: 50%;
        object-fit: contain;
        transform-origin: center;
        width: 50%;
        fill: currentColor;
        pointer-events: none;
    }
}

.swiper-button-next{
    right: 1.5rem !important;
}

.swiper-button-prev{
    left: 1.5rem !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -2.5rem;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}
.swiper-pagination-bullet-active{
    background: var(--color-black);
}

/* offers section styles */
.offer-section .products{
    display: flex;
    flex-wrap: wrap;
}

.offer-section .product-frame{
    width: var(--ls-1-3);
    padding: var(--el-medium);
}

.offer-section .product-img{
    width: var(--ls-full);
    height: 220px;
    overflow: hidden;
    position: relative;
    border-radius: 0.25rem;
}

.offer-section .product-frame img{
    width: var(--ls-full);
    border-radius: 0.25rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.offer-section .product-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--el-normal);
    margin-top: var(--el-normal);
}

.offer-section .product-text h4{
    font-size: var(--fs-name);
    font-weight: var(--fw-400);
}

.offer-section .product-text h4 strong{
    font-size: var(--fs-18);
}

.offer-section .product-text p{
    padding: var(--el-medium);
    font-size: var(--fs-small-text);
}

/* review section styles */
.review-section{
    background: url(../images/review-background.jpeg) no-repeat center 
    center / cover;
}
.review-section .reviews{
    display: flex;
    flex-wrap: wrap;
}

.review-section .review-frame{
    width: var(--ls-1-3);
    padding: var(--el-medium);
}